body {
  background-color: #fff;
}

hr {
  background-color: white;
  width: 7%;
  border-style: dotted none none;
  border-color: #E4DCCF;
  border-width: 6px;
   }
img {
  height: 250px;
    }
h1{
  color: #66BFBF;
  text-shadow: 1px 1px;
}
h3 {
  color: #377D71;
}
